* {
margin:0;
padding:0;
font-family:"Microsoft YaHei";
}
table tr {
word-break:keep-all;           /* 不换行 */
white-space:nowrap;          /* 不换行 */
}
.alert {
color:red;
}
.tools {
    width:100%;
    padding-left:18px;
}
    .tools .jindutiao {
        margin-top:20px;
        width:0%;
        height:30px;
        background:#0094ff;
        text-align:center;
        color:#fff;
    }